.navbar-default .navbar-brand {
  font-size: 45px;
  font-style: normal;
  font-family: 'Pacifico', cursive;
}
.vertical-offset-100{
    padding-top:100px;
}
#notification {
  text-align: right;
}
.btn-primary {
    background-color: #00BCD4;
    border-color: #00BCD4;
    color: #E0F7FA;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
  background-color: #00ACC1;
  border-color: #00ACC1;
  color: #E0F7FA;
}
a {
  color: #00ACC1;
}
a:hover {
  color: #00ACC1;
}
.form-group.row {
  margin: 5px;
}
.container {
  padding-bottom: 5px;
}
#imagem-produto {
  width: 90px;
  height: 70px;
}
