<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/standard.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/navbar.css">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
	<script src="../assets/javascript/navbar.js"></script>


	<script src="../assets/javascript/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://code.highcharts.com/modules/drilldown.js"></script>




</head>
	<body>
		<div id="navbar"></div>
		<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
		<script src="../assets/javascript/chart.js"></script>

	</body>
</html>
