<html>


<head> 
	<link rel="stylesheet" type="text/css" href="css/style.css"> 
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"> 
	<style> body{ center;margin:  auto;width: 960px;padding-top: 50px}.login-form{margin: 50px auto;}</style>
</head>
<body>
	<div class ="container">
		<div class = "page-header">
			<h1>Formulário</h1>
		</div>
	</div>
	<div class = "form-group">
		<label>Nome</label>
		<input type = "text"> 
	</div>
	<div class ="panel panel-default ">
	<div class="login-form">
		<h1>Tela de Login</h1>
		<div class = "form-group">
			<input type="text" name="username" placeholder="Usuario" class ="form-control">
			</br>		
			<input type="password" name="password" placeholder="Senha" class = "form-control">
			</br>
			</br>
			<button type "submit" class ="btn btn-primary">Mandei</button>

		</div>
	</div>
	</div>
</body>
</html>

http://getbootstrap.com/components/#panels
olhar o jumbotron